body{
	height: 100vh;
}
#profile-container{
	height:100%;
	width: 100%;
	position: relative;
	z-index: 2;
}
#welcome-title {
	text-align: center;
	padding-top: 10vh;
	font-size: 50px;
}
#explorer-container{
	width: 100%;
	height: calc( 90vh - 80px);
    padding: 50px;
    padding-top: 0;
}

/*Project List*/
#project-list-container{
    float: left;
    width: 100%;
}
.project{
    padding: 20px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    transition: background .5s ease;
}
.project-selected{
    background: rgba(0,0,0,0.5);
    transition: background .5s ease;
}
.project-list-elements{
    margin-bottom: 15px;
}

/*Project Name*/
.project-name-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-name{
    order:1;
    font-size: 25px;
    vertical-align: middle;
    display: inline-block;
}
.project-type{
    order:2;
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
}

/*Project Details*/
.project-details{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.glyphicon-trash{
    z-index: 2;
    position: relative;
    transition: font-size ease .2s;
}
.glyphicon-trash:hover{
    font-size: 18px;
}

/*List Buttons*/
#list-buttons{
    order:1;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list-button{
    text-align: center;
    font-size: 24px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    margin: 5px;
    transition: font-size ease .2s;
}
.list-button:hover{
    font-size: 28px;
    vertical-align: middle;
}

/*Project Tab*/
#project-tab{
    display: flex;
    padding-top:60px;
    padding-left:20px;
    width: calc(100% - 15vw);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    float: left;
    height: 100%;
}

/*Recent Search Terms*/
#recent{
    order:1;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
#recent-terms{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
.recent-term{
    background: rgba(255,255,255,0.1);
    padding: 10px;
    font-size: 16px;
    transition: background .1s ease;
    margin-right: 10px ;
}
.recent-term:hover{
    background: rgba(255,255,255,0.2) ;
}

/*Project Panels*/
#project-panels{
    order: 2;
    width: 100%;
    height: calc(100% - 70px);
}
.project-content{
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-title{
    text-align: center;
    font-size: 30px;
}

/*Project Article List*/
#project-articles{
    width: 40%;
    padding: 0 5px;
}
#article-list-container{
    float: left;
    width: 100%;
    height: calc(100% - 150px);
}
#articles-list{
    padding: 0 10px;
}
.article{
    padding: 20px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    transition: background .5s ease;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.article-name{
    font-size: 18px;
}
.article-delete{
    font-size: 18px;
}
.article-delete:hover{
    font-size: 20px;
}

/*Article Content*/
#article-container{
    width: 100%;
    height: calc(100% - 150px);
}
.article-title-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 35px;
    justify-content: space-between;
}
.article-info-container{
    display: flex;
    margin-bottom: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.article-title{
    order:1;
    font-size: 22px;
    vertical-align: middle;
    display: inline-block;
}
.article-toolbox{
    order:2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.article-toolbox-button{
    text-align: center;
    font-size: 22px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
    transition: font-size ease .1s;
}
.article-toolbox-button:hover{
    font-size: 24px;
    vertical-align: middle;
}
.article-author{
    font-size: 18px;
}
.article-date{
    font-size: 18px;
}
.article-text{
    font-size: 16px;
    height: calc(100% - 60px);
    overflow:auto;
}

/*Export Button*/
.export-button{
    text-align: center;
    height: 50px;
}
.export{
    display:inline-block;
    background: rgba(0,0,0,0.5);
    padding: 0 20px;
    height: 100%;
    font-size: 19px;
    border-radius: 5px;
    line-height: 50px;
    transition: font-size .2s ease;
}
.export:hover{
    font-size: 20px;
    transition: font-size .2s ease;
}