#account-icon{
    position: absolute;
    top:20px;
    right:20px;
    z-index: 2;
    text-align: center;
}
#account-logout{
    position: absolute;
    top:20px;
    right:80px;
    z-index: 2;
    text-align: right;
}


/*Title*/
#title-container{
    position: absolute;
    top: 50vh;
    margin-top:-50px;
    text-align: center;
    width: 100%;
    opacity: 0;
}
#title-text{
    display: inline;
    text-align: center;
    font-size: 100px;
    padding: 20px;
}

/*Search*/
#search-container{
    position: absolute;
    width:100%;
    top: 50vh;
    margin-top:-50px;
    text-align: center;
}
#search-bar{
    display: inline;
    text-align: center;
    font-size: 30px;
    padding:45px;
    border-radius: 50px;
    background: rgba(0,0,0,0.5);
    color:white;
    border:none;
    width: 60vw;
}
#search-bar::-webkit-input-placeholder {
    color: lightgrey !important;
}
#search-bar:-moz-placeholder { /* Firefox 18- */
    color: lightgrey !important;
}
#search-bar::-moz-placeholder {  /* Firefox 19+ */
    color: lightgrey !important;
}
#search-bar:-ms-input-placeholder {
    color: lightgrey !important;
}
.search-term{
    background: rgba(0,0,0,0.5);
    border-radius: 50px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    color: white;
}

/*Article Menu*/
#article-view{
    padding: 50px;
    padding-top:100px;
    height: 100%;
}
.article-col{
    height: 100%;
    padding: 2px;
}
.article-field{
    height: inherit;
    padding: 30px;
    float: left;
}
#article-container{
    padding: 20px;
    margin: 0;
    height:inherit;
}

/*Article List*/
.article{
    padding: 20px;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    transition: background .5s ease;
}
.article-list-elements{
    margin-bottom: 15px;
}
.article-name-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.article-journal{
    order:2;
    color: darkgreen;
    font-size: 20px;
    width: 25px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-family: 'Fjalla One', sans-serif;
    background: rgb(255,255,255);
}
.article-name{
    order:1;
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
}
.article-desc{
    font-size: 13px;
}
.mini-keyword{
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    margin-right:10px;
    background: rgba(255,255,255,0.2) ;
}
.article-selected{
    background: rgba(0,0,0,0.5);
    transition: background .5s ease;
}
#article-list-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
#article-list{
    order: 2;
    width: 100%;
    height: calc(100% - 70px);
    overflow: auto;
}

/*Article List Buttons*/
#list-buttons{
    order:1;
    /*height: 30px;*/
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}
#list-navigation{
    order:3;
    height: 40px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
#list-nav-page{
    text-align: center;
    font-size: 25px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
}
.list-button{
    text-align: center;
    font-size: 24px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    margin: 5px 5%;
    transition: font-size ease .2s;
}
.list-button:hover{
    font-size: 28px;
    vertical-align: middle;
}
.list-nav{
    text-align: center;
    font-size: 32px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    transition: font-size ease .2s;
}
.list-nav:hover{
    margin: 0;
    font-size: 36px;
    vertical-align: middle;
}

/*Article Tab*/
#article-tab{
    width: calc(100% - 20vw);
}

/*Article Content*/
.article-info-container{
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.article-title{
    order:1;
    font-size: 34px;
    vertical-align: middle;
    display: inline-block;
    padding: 10px 0;
}
.article-author{
    font-size: 20px;
}
.article-date{
    font-size: 20px;
}
.article-text{
    font-size: 16px;
    height: calc(100% - 150px);
    overflow:auto;
}
.highlight{
    background-color: rgba(255, 250, 130,0.5)
}
.font-toolbar{
    padding: 10px;
    height: 50px;
}
.font-icon{
    float:left;
    font-size: 24px;
    padding-right: 30px;
}
.font-value{
    font-size: 24px;
}
#font-slider{
    width: 20vw;
    float: left;
    display: inline-block !important;
}
#article-content{
    height: inherit;
    width:80%;
    float:left;
    padding-right: 30px;
}
#article-title-button{
    order:2;
    text-align: center;
    font-size: 30px;
    width: 44px;
    height: 44px;
    vertical-align: middle;
    display: inline-block;
    transition: font-size ease .2s;
}
#article-title-button:hover{
    margin: 0;
    font-size: 34px;
    vertical-align: middle;
}

/*Toolbar*/
.toolbar-button{
    text-align: center;
    font-size: 36px;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    display: inline-block;
    transition: font-size ease .2s;
}
.toolbar-button:hover{
    margin: 0;
    font-size: 40px;
    vertical-align: middle;
}
.toolbar{
    height: inherit;
}
#article-toolbox{
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:20%;
    padding-left: 30px;
}
#toolbar-container {
    order: 1;
    width: 100%;
    height: calc(100% - 48px);
    overflow: auto;
}
#toolbar-buttons {
    order:2;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Toolbar Keywords*/
.list-keyword{
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    margin:5px;
    background: rgba(255,255,255,0.1) ;
}
.list-keyword-selected{
    font-weight: bold;
    background: rgba(255,255,255,0.2) ;
}

/*Project Dropdown*/
.project-dropdown {
    position: relative;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.project-list {
    display: none;
    position: absolute;

    min-width: 100%;
    z-index: 1;
}
.project-dropdown:hover #project-list {
    display: block;
}
.selected-project{
    font-size: 20px;
    padding: 10px 0;
    border: 3px solid white;
}
.project-list-element{
    font-size: 16px;
    padding:20px 15px;
    background: rgba(0,0,0,0.7);
    margin-bottom: 1px;
}

/*Bibliography*/
#citation{
    width: 100%;
    margin-top: 30px;
    word-wrap: break-word;
}
#citation-buttons{
    height: 40px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}
.citation-button{
    border: 2px solid white;
    text-align: center;
    font-size: 20px;
    height: 40px;
    padding: 5px 10px;
    vertical-align: middle;
    display: inline-block;
    margin: 5px 5%;
    transition: border ease .2s;
}
.citation-button:hover{
    border: 4px solid white;
    transition: border ease .2s;
}

/*Notes Panel*/
#notes-container{
    height: calc(100% - 50px);
    width: 100%;
    color:white;
    margin: 10px 0;
    border: 2px solid white;
}
#notes-panel{
    overflow: hidden;
}

/*Introduction*/
#catchphrase{
    font-size: 40px;
    padding-bottom: 30px;
}
#intro-break{
    color: white;
    width: 70vw;
    padding: 20px 0;
}
#intro-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15vw;
}
.intro-panel{
    margin: 30px;
    width: calc(calc(100% - 240px) / 4);
    min-width: 170px;
}
.intro-image{
    max-height: 100%;
    max-width: 100%;
}
.intro-key{
    padding: 20px;
    font-size: 30px;
}
.intro-desc{
    padding: 0 20px;
    font-size: 20px;
}

/*Scroll Animations*/
.invisible {
    transition: opacity 1s ease, margin 1s ease;
    margin-top: 50px;
    opacity: 0.0;
}
.visible {
    transition: opacity 1s ease, margin 1s ease;
    margin-top: 30px;
    opacity: 1.0;
}

/*Secondary*/
.secondary-container{
    position: absolute;
    margin-top: 110px;
    text-align: center;
    width: 100vw;
}
.secondary-question{
    display:inline-block;
    border: rgba(0,0,0,0.1) 2px solid;
    font-size: 20px;
    margin: 0 20px;
    padding: 15px;
    border-radius: 5px;
    color: whitesmoke;
    background: rgba(0,0,0,0.1);
    transition: border .5s ease;
}
.secondary-question:hover{
    cursor: pointer;
    border: rgba(0,0,0,0.8) 2px solid;
}