<!DOCTYPE html>
<html>
{% load static %}
{% load sass_tags %}
<head>
	<title>Login</title>
    {% include 'head.html' %}
    <link rel="stylesheet" href="{% sass_src 'css/login.scss' %}">
</head>
<body>
    {% include 'header.html' %}
    <div id="login-container">
        {% block content %}
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="click">Login</button>
            </form>
        {% endblock %}
        <div id="other">
            <a href="/accounts/register">Register</a>
            <span>|</span>
            <a href="/accounts/forgot">Forgot Password</a>
        </div>
    </div>
</body>
</html>
