#search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}
h1{
  font-weight: 500;
  margin: 20px;
  font-size: 3.0em;
}

form{
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
}
input[type=text]{
  text-align: center;
  width: 600px;
  border: 2px solid rgba(0, 123, 204, 0.5);
  box-shadow: none;
  padding: 0;
}
input[type=text]:focus{
  box-shadow: 0 0 5px #888888;
}
input[type=submit]{
  text-align: center;
  padding: 0 20px;
  font-weight: 500;
  background: rgba(0, 123, 204, 0.5);
  border: 2px solid rgba(0, 123, 204, 0.5);
  box-shadow: none;
  font-size: 1em;
}
input[type=submit]:hover{
  background: rgba(0, 123, 204, 0.3);
  box-shadow: 0 0 5px #888888;
}

#trending-topics{
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 50px;
}
h2{
  line-height: 50px;
  margin: 0 20px;
  font-size: 1.5em;
}
#trending-topic{
  padding: 0 10px;
  line-height: 50px;
  background: rgba(0, 123, 204, 0.5);
  border: 2px solid rgba(0, 123, 204, 0.5);
  font-size: 1em;
}
#trending-topic:hover{
  background: rgba(0, 123, 204, 0.3);
  box-shadow: 0 0 5px #888888;
}