#account-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  text-align: center; }

#account-logout {
  position: absolute;
  top: 20px;
  right: 80px;
  z-index: 2;
  text-align: right; }

/*Title*/
#title-container {
  position: absolute;
  top: 50vh;
  margin-top: -200px;
  text-align: center;
  width: 100%; }

#title-text {
  display: inline;
  text-align: center;
  font-size: 100px;
  padding: 20px; }

/*Search*/
#search-container {
  position: absolute;
  width: 100%;
  top: 50vh;
  margin-top: -50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

#search-bar {
  display: inline;
  text-align: center;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 30vw;
  min-width: 300px;
  padding: 30px; }

#search-bar::-webkit-input-placeholder {
  color: lightgrey !important; }

#search-bar:-moz-placeholder {
  /* Firefox 18- */
  color: lightgrey !important; }

#search-bar::-moz-placeholder {
  /* Firefox 19+ */
  color: lightgrey !important; }

#search-bar:-ms-input-placeholder {
  color: lightgrey !important; }

/*Project Dropdown*/
#project-dropdown {
  width: 200px;
  text-align: center;
  display: inline-block;
  color: white;
  border: none;
  height: 60px;
  margin: 0 10px; }

.project-list {
  display: none;
  position: absolute;
  min-width: 100%;
  z-index: 1;
  overflow: auto;
  max-height: 200px; }

#project-dropdown:hover .project-list {
  display: block; }

.selected-project {
  width: 200px;
  font-size: 20px;
  height: 100%;
  padding: 0 5px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 60px; }

.project-list-element {
  width: 200px;
  font-size: 16px;
  height: 60px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.4);
  line-height: 60px;
  transition: font-size .1s ease; }

.project-list-element:hover {
  font-size: 18px;
  transition: font-size .1s ease; }

/*Database Dropdown*/
#database-dropdown {
  width: 200px;
  text-align: center;
  display: inline-block;
  color: white;
  border: none;
  height: 60px;
  margin: 0 10px; }

.database-list {
  display: none;
  /*position: absolute;*/
  min-width: 100%;
  z-index: 1;
  overflow: auto;
  max-height: 200px;
  background: #808080; }

#database-dropdown:hover .database-list {
  display: block; }

.selected-database {
  width: 200px;
  font-size: 20px;
  height: 100%;
  padding: 0 5px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 60px; }

.selected-db {
  border-left: 5px solid white;
  background: rgba(0, 0, 0, 0.5); }

.database-list-element {
  /*width: 200px;*/
  font-size: 16px;
  height: 60px;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.4);
  line-height: 60px;
  transition: all .1s ease; }

.database-list-element:hover {
  font-size: 18px;
  transition: font-size .1s ease; }

/*Introduction*/
#introduction-view {
  position: absolute;
  top: 100vh;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  max-height: 100%;
  max-width: 100%; }

#catchphrase {
  font-size: 40px;
  padding-bottom: 30px; }

#intro-break {
  color: white;
  width: 70vw;
  padding: 0; }

#intro-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px; }

.intro-panel {
  margin: 30px;
  width: calc(calc(100% - 240px) / 4);
  min-width: 170px; }

.intro-image {
  max-height: 100%;
  max-width: 100%; }

.intro-key {
  padding: 20px;
  font-size: 30px; }

.intro-desc {
  padding: 0 20px;
  font-size: 20px; }

/*Scroll Animations*/
.invisible {
  transition: opacity 1s ease, margin 1s ease;
  margin-top: 50px;
  opacity: 0.0; }

.visible {
  transition: opacity 1s ease, margin 1s ease;
  margin-top: 30px;
  opacity: 1.0; }

/*# sourceMappingURL=index.css.map */
