/*Scrollbar*/
.scrollbar {
  overflow-y: scroll; }

.style-1::-webkit-scrollbar-track {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.style-1::-webkit-scrollbar {
  width: 8px; }

.style-1::-webkit-scrollbar-thumb {
  background-color: whitesmoke; }