form {
    height: 50px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search-content {
    margin: 2vh 4vw;
    display: flex;
    /*grid-template-columns: auto 2vw 20px minmax(0, 300px);*/
    flex-direction: row;
    justify-content: space-evenly;
}

nav#search-sidebar {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#search-info {
    width: calc(300px - 40px);
    position: relative;
    left: 0;
    right: 0;
    border: 2px solid #95989A;
    border-left: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* height: inherit; */
}

#search-term {
    font-size: 1.2em;
    padding-bottom: 10px;
    border-bottom: 4px solid rgb(0, 123, 204);
    margin-bottom: 10px;
}

#search-info #search-term .fa-refresh {
    line-height: 1.2em;
}

#search-info .info {
    margin: 10px 0;
}

#search-info .info h2 {
    font-size: 1.2em;
}

#search-info .info p {
    margin: 5px 0;
    font-size: 1.0em;
}

#related-terms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#related-terms .related-term {
    display: flex;
    flex-direction: row;
    background: rgb(96, 174, 224);
    margin: 5px 5px 5px 0;
    padding: 10px;
    font-size: 1.0em;
}

#related-terms .related-term h4 {
    font-weight: 400;
}

#related-terms .related-term .fa {
    margin-left: 10px;
}

#search-click {
    height: calc(100vh - 154px);
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(0, 123, 204);
    border: 2px solid #95989A;
    border-right: none;
}

#search-click span {
    font-size: 1.5em;
    margin: auto;
}

#search-click:hover {
    background: rgba(0, 123, 204, 0.7);
}

#search-results {
    width: 100%;
    height: inherit;
    margin: 0 1vw;
}

#search-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px;
    margin: 0 5px;
    border: 2px solid #95989A;
    flex-wrap: wrap;
}

#search-toolbar div{
    padding: 10px 5px;
}

#database-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
}

#database-list .database {
    width: 40px;
    height: 36px;
    text-align: center;
    margin: 0 5px;
    line-height: 40px;
    border: 2px solid rgb(96, 174, 224);
    background: rgb(96, 174, 224);
}

#database-list .database:hover {
    cursor: pointer;
}

#database-list .database .unselected {
    background: none;
}

#database-time {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#database-time h4 {
    line-height: 40px;
}

#database-time input {
    width: 50px;
    height: 40px;
    margin: 0 5px;
}

#database-sort {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

#database-sort span {
    margin: 0 5px;
    line-height: 40px;
    font-size: 1.2em;
}

#search-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    margin-right: 5px;
}

.search-entry {
    margin: 5px;
    padding: 20px;
    border: 2px solid #95989A;
}

.entry-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.entry-title h2 {
    padding-right: 5px;
    padding-bottom: 10px;
    border-bottom: 4px solid rgb(0, 123, 204);
}

.entry-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.0em;
}
.entry-info h3 {
    padding-right: 5px;
}

.entry-summary {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.0em;
}

.entry-action {
    display: flex;
    justify-content: space-between;
}

.entry-terms {
    display: flex;
    flex-wrap: wrap;
}

.entry-term {
    display: flex;
    font-size: 1.0em;
    background: rgba(0, 123, 204, 0.5);
    margin: 5px 5px 5px 0;
    padding: 10px;
}

.entry-term h4 {
    font-weight: 400;
}

.entry-term .fa {
    margin-left: 10px;
}

.entry-icons {
    display: flex;
    font-size: 1.5em;
}

.entry-icons .fa {
    line-height: 1.0em;
    padding: 10px 0;
    margin-left: 10px;
}
