#account-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  text-align: center; }

#account-logout {
  position: absolute;
  top: 20px;
  right: 80px;
  z-index: 2;
  text-align: right; }

/*Search*/
#search-container {
  padding-bottom: 10px;
  width: calc(100% - 10px);
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

#search-bar {
  display: inline;
  text-align: center;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 30vw;
  min-width: 300px;
  border-radius: 5px;
padding: 5px;
}

#project-dropdown {
  display: inline;
  text-align: center;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  min-width: 300px;
  border-radius: 5px;
  width: 200px;
  margin: 0 10px;
  padding: 5px;
}

#search-bar::-webkit-input-placeholder {
  color: lightgrey !important; }

#search-bar:-moz-placeholder {
  /* Firefox 18- */
  color: lightgrey !important; }

#search-bar::-moz-placeholder {
  /* Firefox 19+ */
  color: lightgrey !important; }

#search-bar:-ms-input-placeholder {
  color: lightgrey !important; }

/*Article Menu*/
#article-view {
  padding: 50px;
  padding-top: 30px; }

.article-col {
  height: 100%;
  padding: 2px; }

#article-container {
  padding: 20px;
  margin: 0;
  height: inherit; }

/*Article List*/
.article {
  padding: 20px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  transition: background .5s ease; }

.article-list-elements {
  margin-bottom: 15px; }

.article-name-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.article-journal {
  order: 2;
  font-size: 20px;
  width: 25px;
  height: 27px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
  background: white; }

.N {
  color: darkgreen; }

.article-name {
  order: 1;
  font-size: 20px;
  vertical-align: middle;
  display: inline-block;
  max-width: calc(100% - 30px); }

.article-date {
  font-size: 16px; }

.article-desc {
  font-size: 16px;
  margin-top: 14px; }

.mini-keyword {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.2); }

.article-selected {
  background: rgba(0, 0, 0, 0.5);
  transition: background .5s ease; }

.article-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.article-reliability {
  margin-top: 10px;
  font-size: 18px; }

.article-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.article-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.article-add {
  display: none; }

.article-tool-button {
  text-align: center;
  font-size: 24px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  margin: 5px;
  transition: font-size ease .2s;
  z-index: 3; }

.article-tool-button:hover {
  font-size: 28px;
  vertical-align: middle; }

#article-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 35px; }

#article-list {
  order: 2;
  width: 100%;
  height: calc(100% - 60px);
  overflow: auto; }

.articlecontent{
  display: none;
}

/*Article List Buttons*/
#list-buttons {
  order: 1;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.list-button {
  text-align: center;
  font-size: 24px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  margin: 5px;
  transition: font-size ease .2s; }

.list-button:hover {
  font-size: 28px;
  vertical-align: middle; }

.list-field {
  height: 30px;
  font-size: 24px;
  display: flex;
  flex-direction: row; }

.list-input {
  margin-left: 10px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  height: 30px;
  width: 60px;
  padding: 0 5px; }

/* Popup */
#popup-view {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1000; }

#popup-container {
  background: #404040;
  display: inline-block;
  max-height: calc(100vh - 100px);
  max-width: calc(100vw - 100px);
  width: 70vw;
  height: 70vh;
  margin: 50px;
  padding: 20px; }

.popup-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px; }

.popup-close {
  font-size: 24px;
  transition: font-size 0.1s ease; }

.popup-close:hover {
  font-size: 26px; }

/*Bibliography*/
.bibcontent{
  display: none;
}
#bibliography {
  height: 100%; }

#citation-list {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto; }

.citation-container {
  display: block; }

.citation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0; }

.citation-title {
  font-size: 20px;
  width: 100px;
  margin-right: 20px; }

.citation-content {
  text-align: left;
  width: calc(100% - 150px);
  font-size: 20px;
  word-wrap: break-word; }

/*Keyword*/
.keywordcontent{
  display: none !important;
}
#dictionary {
  height: 100%; }

#keyword-list {
  height: calc(100% - 110px);
  /*display: flex;*/
  flex-direction: column;
  justify-content: space-around;
  overflow: auto; }

#search-def-container {
  margin: 20px 0; }

#search-def {
  text-align: center;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 30vw;
  min-width: 300px;
  padding: 5px; }

.keyword-entry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0; }

.keyword {
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2); }

.keyword-container {
  text-align: left;
  margin-right: 20px;
  width: 200px; }

.keyword-def {
  width: calc(100% - 250px);
  text-align: left;
  font-size: 16px;
  word-wrap: break-word; }

/* Related */
#related {
  height: 100%; }

#related-list {
  height: calc(100% - 50px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.related-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.related-term {
  padding: 10px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2); }

/*# sourceMappingURL=search.css.map */
