/*
SEARCH BAR
*/

@import "colors";

input[type=text] {
    border: none;
    outline: none;
    text-align: left;
    width: 500px;
    box-shadow: 0 0 10px rgba($gray, $shadow-one);
    padding: 0 10px;
    z-index: 1;
}

input[type=text]:focus {
    background: rgba($secondary, $shadow-two);
    box-shadow: 0 0 10px rgba($gray, $shadow-two);
}

input[type=submit] {
    outline: none;
    border: none;
    color: $primary;
    z-index: 1;
    text-align: center;
    padding: 0 20px;
    background: $secondary;
    box-shadow: none;
    font-size: 1em;
    border-radius: 0;
}
input[type=submit]:hover {
    box-shadow: 0 0 10px rgba($gray, $shadow-two);
}
