html,body{
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  color: black;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0; }

*{
  transition: all 0.3s ease;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 100%;
}

.click:hover {
  cursor: pointer; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #95989A !important; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #95989A !important;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #95989A !important;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #95989A !important; }

/*Layout*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

#information {
  display: flex;
}

footer h4 {
  font-weight: 400;
  padding: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/*Icons*/
.small-icon {
  height: 60px;
  width: 60px;
}

#logo-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
  z-index: 3;
}