{% load static %}
    <meta charset="UTF-8">
    <link href="https://cdn.quilljs.com/1.2.4/quill.bubble.css" rel="stylesheet">

    <!-- <link rel="icon" href={% static 'img/coresearchicon.png' %}> -->
    <link rel="stylesheet" href={% static 'fonts/stylesheet.css' %}>
    <link rel="stylesheet" href={% static 'css/scrollbar.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link rel="stylesheet" href={% static 'css/header.css' %}>
	<link rel="stylesheet" href={% static 'css/font-awesome.css' %}>
	<link rel="stylesheet" href={% static 'css/square-loading-pane.css' %}>

    <script type="text/javascript" src={% static 'js/jquery.js' %} defer></script>

