{% load static %}
    <meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.2.4/quill.bubble.css" rel="stylesheet">

    <link rel="icon" href={% static 'img/dawnfavicon.png' %}>
	<link rel="stylesheet" href={% static 'css/style.css' %}>
	<link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
	<link rel="stylesheet" href={% static 'css/bootstrap-theme.css' %}>
	<link rel="stylesheet" href={% static 'css/square-loading-pane.css' %}>

    <script type="text/javascript" src={% static 'js/jquery.js' %} defer></script>
    <script type="text/javascript" src={% static 'js/highlight.js' %} defer></script>
    <script type="text/javascript" src={% static 'js/bootstrap.js' %} defer></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js" defer></script>
    <script type="text/javascript" src={% static 'js/progressbar.min.js' %} defer></script>
    <script type="text/javascript" src={% static 'js/ScrollTrigger.min.js' %} defer></script>
    <script src="https://cdn.quilljs.com/1.2.4/quill.min.js" type="text/javascript" defer></script>
    <script type="text/javascript" src={% static 'js/rangy.js' %} defer></script>

    <script type="text/javascript" src = {% static 'js/firebase.js' %} defer></script>
    <script type="text/javascript" src = {% static 'js/library.js' %} defer></script>

