<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Delve</title>
    {% include 'head.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchbar.css' %}">

    <!--<script type="text/javascript" src="{% static 'js/index.js' %}" defer></script>-->
</head>
<body>
    {% include 'header.html' %}
    <div id="search">
        <h1>Delve</h1>
        <form action="/search" method="get">
            <input id="search-bar" type="text" name="q" placeholder="What would you like to learn about today?" autofocus required>
            <input type="submit" value="Search" class="click">
        </form>
        <div id="trending-topics">
            <h2>Trending Research:</h2>
            <div id="trending-topic" class="click">TEMP THING</div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
