<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load sass_tags %}
<head>
    <title>Coresearch</title>
    {% include 'head.html' %}
    <link rel="stylesheet" href="{% sass_src 'css/index.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'css/searchbar.scss' %}">
</head>
<body>
    {% include 'header.html' %}
    <div id="search">
        <!-- <h1>Coresearch</h1> -->
        <img id="logo" src="{% static 'img/coresearch.png' %}">
        <form action="/search" method="get">
            <input id="search-bar" type="text" name="q" placeholder="What would you like to learn about today?" autofocus required>
            <input type="submit" value="Search" class="click">
        </form>
        <!-- <div id="trending-topics">
            <h2>Trending Research:</h2>
            <div id="trending-topic" class="click">TEMP THING</div>
        </div> -->
    </div>
    {% include 'footer.html' %}
    <!--<script type="text/javascript" src="{% static 'js/index.js' %}"></script>-->
</body>
</html>
