<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Dawn</title>
    {% include 'head.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">

    <script type="text/javascript" src="{% static 'js/search.js' %}" defer></script>
</head>
<body>
    <form action="/search" method="get">
        <input id="search-bar" type="text" name="q" placeholder="What would you like to learn about today?" autofocus>
        <input type="submit" value="Search" class="click">
    </form>

    <div id="search-content">
        <div id="search-info">
            <div id="search-term">
                <h2>search term</h2>
                <span class="fa fa-refresh click"></span>
            </div>
            <div class="info">
                <h2>Definition</h2>
                <p>Food is any substance consumed to
                    provide nutritional support for an organism.
                    The substance is ingested by an
                    organism and assimilated by the organism's
                    cells to provide energy, maintain life, or
                    stimulate growth.</p>
            </div>
            <div class="info">
                <h2>Related Terms</h2>
                <div id="related-terms">
                    <div class="related-term">
                        <h4>Example Term</h4>
                        <span class="fa fa-filter click"></span>
                        <span class="fa fa-search click"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="search-click" class="click">
            <span class="fa fa-caret-left"></span>
        </div>
        <div class="space"></div>
        <div id="search-results">
            <div id="search-toolbar">
                <div id="database-dropdown">
                    <span class="database">N</span>
                    <span class="database">PQ</span>
                    <span class="fa fa-caret-down click"></span>
                </div>
                <div id="database-time">
                    <h4>Time:</h4>
                    <input type="text" value="None">
                    <h4>-</h4>
                    <input type="text" value="None">
                </div>
                <div id="database-sort">
                    <span class="fa fa-sort-alpha-asc click"></span>
                    <span class="fa fa-sort-alpha-desc click"></span>
                    <span class="fa fa-sort-numeric-asc click"></span>
                    <span class="fa fa-sort-numeric-desc click"></span>
                </div>
            </div>
            <div class="space"></div>
            <div id="search-list">
                <div class="search-entry">
                    <div class="entry-title">
                        <h2>Sample Title</h2>
                        <span>Nature Journal</span>
                    </div>
                    <div class="entry-info">
                        <h3>Sample Title</h3>
                        <h3>Sample Date</h3>
                    </div>
                    <p class="entry-summary">Food is any substance[1] consumed to
                        provide nutritional support for an organism.
                        The substance is ingested by an
                        organism and assimilated by the organism's
                        cells to provide energy, maintain life, or
                        stimulate growth.</p>
                    <div class="entry-action">
                        <div class="entry-terms">
                            <div class="entry-term">
                                <h4>Example Term</h4>
                                <span class="fa fa-search click"></span>
                            </div>
                        </div>
                        <div class="entry-icons">
                            <span class="fa fa-info-circle click"></span>
                            <span class="fa fa-bookmark click"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div id="information">
            <h4>What is Delve?</h4>
            <h4>About Us</h4>
        </div>
        <h4>&copy; 2017 Delve Inc. All Rights Reserved.</h4>
    </footer>
</body>
</html>
